.container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  align-items: center;
  overflow-y: auto;
}
.cards {
  padding-left: 0;
  margin: 0;
  width: 90%;
  overflow-y: auto;
}
.cardPreviewTitle {
  position: relative;
}
