@value mediaQuery from '../../common/size.css';

.main {
  display: flex;
  position: relative;
}
.cardMakerTitle {
  position: relative;
}
.cardPreviewTitle {
  position: relative;
}
.cardMaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right: 1px solid #a297bd;
}
.cardPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: mediaQuery) {
  .main {
    flex-direction: column;
  }
  .cardMaker {
    width: 100%;
  }
  .cardPreview {
    width: 100%;
  }
}
