.container {
  width: 50%;
}
.button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.7em;
  border-style: none;
  border-radius: 0 0 0 20px;
  border-right: 1px solid lightgrey;
  background-color: #e0ebff;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 0.8;
}
.fileBtn {
  display: none;
}
