.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.7em;
  border-style: none;
  border-radius: 0 0 0 20px;
  border-right: 1px solid lightgrey;
  background-color: #e0ebff;
  cursor: pointer;
  text-align: center;
}
.button:hover {
  opacity: 0.8;
}
.fileBtn {
  display: none;
}
.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 3px solid lightgray;
  border-top: 3px solid pink;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
